<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Vue.js sample</title>
		<link rel="stylesheet" href="style.css" >
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	</head>
	

	<body>
        <!-- 第一問 -->
        <h2>このネコの種類はどれ？</h2>
		<div id="app">
			<label><input type="radio"  value="sco" v-model="picked1">
                スコティッシュホールド</label>
			<label><input type="radio"  value="amesyo" v-model="picked1">
                アメリカンショートヘア</label>
			<label><input type="radio"  value="man" v-model="picked1">
				マンチカン</label>
			
		<!-- 第二問 -->
        <h2>このネコの種類はどれ？</h2>
			<label><input type="radio"  value="a" v-model="picked2">
                あ</label>
			<label><input type="radio"  value="i" v-model="picked2">
                い</label>
			<label><input type="radio"  value="u" v-model="picked2">
				う</label>
            </div>
	</body>
			
	
			<script>
				//第一問
				new Vue({
					el: '#app',
					data: {
						picked1: 'sco',
						picked2: 'a'
						kekka1: ""
						kekka2: ""
					},
					methods: {
						hantei1: function () {
							if (this.picked1 == "amesyo") {
								this.kekka1 = "正解";
							} else {
								this.kekka1 = "不正解";
							}
						}

						hantei2: function () {
							if (this.picked2 == "i") {
								this.kekka2 = "正解";
							} else {
								this.kekka2 = "不正解";
							}
				}

					}

			</script>


</html>